<footer class="MyLinks-footer">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo">
      <a href="#">
        <img class="rotating" src="/img/logo/MyLinks-gradient.svg" alt="" />
        <div class="brand-name">Liên Kết Của Tôi</div>
        <div class="brand-subtitle">Blockchain được nâng lên một tầm cao mới</div>
      </a>
    </div>

    <!-- Columns -->
    <div class="columns footer-columns is-vcentered">
      <div class="column is-4">
        <!-- Links group -->
        <ul class="footer-links">
          <li>
            <a href="#">Token</a>
          </li>

          <li>
            <a href="#">ICO</a>
          </li>

          <li>
            <a href="#">Lộ trình</a>
          </li>
        </ul>
      </div>
      <!-- Newsletter -->
      <div class="column is-4">
        <div class="subscribe-block">
          <form>
            <!-- Field -->
            <div class="control">
              <!-- Special input -->
              <input class="MyLinks-subscribe-input" type="email" name="email" placeholder="" />
              <button class="subscribe-button">
                <span>Đăng ký</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Links group -->
      <div class="column is-4">
        <ul class="footer-links">
          <li>
            <a href="#">Đăng ký</a>
          </li>

          <li>
            <a href="#">Truyền thông</a>
          </li>

          <li>
            <a href="#">Telegram</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <p class="k-copyright">© 2018-2023 | MyLinks. Tất cả các quyền được bảo lưu</p>
    <br />
    <!-- Made by -->
    <p class="coded-by">
      Thiết kế và mã hóa bởi <a href="https://cssninja.io" target="_blank">Css Ninja</a>
    </p>
  </div>

  <!-- Absolute image -->
  <img class="solar-system" src="/img/bg/solar.svg" alt="" />
</footer>
