<!-- Countdown timer -->
<ul id="countdown">
  <li id="days">
    <div class="timer-number">00</div>
    <div class="label">Ngày</div>
  </li>
  <li id="hours">
    <div class="timer-number">00</div>
    <div class="label">Giờ</div>
  </li>
  <li id="minutes">
    <div class="timer-number">00</div>
    <div class="label">Phút</div>
  </li>
  <li id="seconds">
    <div class="timer-number">00</div>
    <div class="label">Giây</div>
  </li>
</ul>
